.main-image {
  width: 98%;
  border-radius: 10px;
  /* padding: 10px; */
}

.author-image-border {
  border-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  width: 30px;
}

.fullCard {
  position: absolute;
  width: 245px;

  border-radius: 5px;
  margin: 10px 5px;
  padding: 18px;
  background-color: hsl(216, 50%, 16%);
}
#thumbnail {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

h3 {
  color: hsl(0, 0%, 100%);
}
p {
  font-size: 18px;
  font-family: Outfit, sans-serif;
  color: hsl(215, 51%, 70%);
}
.author-name {
  color: hsl(0, 0%, 100%);
}
.eth {
  color: hsl(178, 100%, 50%);
}
.time-left {
  color: hsl(215, 51%, 70%);
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: Outfit, sans-serif;
  margin: 15%;
}
.creation {
  padding-top: 25px;
}
